@model IntegracionApi.ViewModel.AnimeCharactersViewModel

<div class="row">
    
        @foreach (var item in Model.Items)
        {
        <div class="col-sm-6">
            @* <h1>@item.Character.Name</h1> *@
            <div class="card" style="width: 18rem;">
                <img src="@item.Character.Images.Jpg.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Character.Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
                </div>
            </div>
        </div>
        }
    
</div>


